@import "template";
$color:#FFF;
$background: #5dca88;

body {
  text-align: center;

  .link {
    padding: 5px;
  }

  .padding {
    padding: 20px;
  }



  .tag {
    @include heading-line-up-and-down(black);
    width: 10%;
    margin: 0px auto;
  }

  .btn {
    @include heading-tag($color, $background)
  }
}